Content Automation.json
{
  "name": "Content Automation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ],\n  \"max_tokens\": 300\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1296,
        48
      ],
      "id": "a697f0b1-e0b6-4be6-99c0-6f808bfbaa5a",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "RiWSY0InXij8OQB4",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = items[0].json.choices[0].message.content;\nconst topic = items[0].json.choices[0].message.content;\n\nreturn [{\n  json: {\n    content: content,\n    topic: $input.first().json.topic || \"Python automation\",\n    platform: $input.first().json.platform || \"LinkedIn\",\n    date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        48
      ],
      "id": "d5e5f816-389d-444a-8fff-dc09d9000af3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nWux83FJSxI4MtD9uB02bfCMvY-Ut7yCD1IZ5_REgVk",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nWux83FJSxI4MtD9uB02bfCMvY-Ut7yCD1IZ5_REgVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nWux83FJSxI4MtD9uB02bfCMvY-Ut7yCD1IZ5_REgVk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $json.topic }}",
            "Content": "={{ $json.content }}",
            "Platform": "={{ $json.platform }}",
            "Date": "={{ $json.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        48
      ],
      "id": "e569a0bd-acb7-4bf1-8072-b147429e2e10",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1vXYOzn4dVnwSf2K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1393381673",
        "text": "=✅ New content generated!\n\nPlatform: {{ $json.Platform }}\nTopic: {{ $json.Topic }}\nDate: {{ $json.Date }}\n\nContent:\n{{ $json.Content }}\n\nSaved to Google Sheets 📊",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        48
      ],
      "id": "9d774889-b8a1-4379-b20a-8d3e77c5a320",
      "name": "Send a text message",
      "webhookId": "c53d48d4-60bb-411a-bfd7-edeba348a08a",
      "credentials": {
        "telegramApi": {
          "id": "JKjJqFnmtT64V3sV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        48
      ],
      "id": "c1a40d53-b913-4260-a421-fa0660eb8c05",
      "name": "Telegram Trigger",
      "webhookId": "c246cbf4-54f2-4d10-8603-b8b785d01086",
      "credentials": {
        "telegramApi": {
          "id": "JKjJqFnmtT64V3sV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.message.text;\nconst parts = text.split(\":\");\n\nconst platform = parts[0].trim();\nconst topic = parts[1].trim();\n\nreturn [{\n  json: {\n    platform: platform,\n    topic: topic,\n    prompt: `Write a professional ${platform} post about: ${topic}. Make it engaging, include relevant hashtags, and keep it under 200 words.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        48
      ],
      "id": "b4b505c3-0f69-455a-ad06-a6da005dbdda",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "01a5c365-800a-420c-a676-f9055b0ae4a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59e479b918fac390303baf3bf4fd10f6d94da77d686c870abfc9af5cee645ffb"
  },
  "id": "n994xl33rGQJdRtm",
  "tags": []
}